= form_for(@invoice) do |f|
  - if @invoice.errors.any?
    #error_explanation
      %h2
        = pluralize(@invoice.errors.count, "error")
        prohibited this invoice from being saved:
      %ul
        - @invoice.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :gl_date
    %br/
    = f.date_select :gl_date
  .field
    = f.label :vendor_name
    %br/
    = f.text_field :vendor_name
  .field
    = f.label :account_code
    %br/
    = f.text_field :account_code
  .field
    = f.label :location_code
    %br/
    = f.text_field :location_code
  .field
    = f.label :department_code
    %br/
    = f.text_field :department_code
  .field
    = f.label :company_code
    %br/
    = f.text_field :company_code
  .field
    = f.label :net_amount
    %br/
    = f.text_field :net_amount
  .actions
    = f.submit
